/.idea
/aftershock-repo.iml
*.pyo
*.pyc

*.iml
**/.idea/
*/data
*.idea*
**/urlresolver/

.idea/workspace.xml
.idea/modules.xml
.idea/vcs.xml
/.idea/copyright/profiles_settings.xml
/.idea/.name
/.idea/copyright
/.idea/compiler.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/encodings.xml
*.iml
.idea/vcs.xml
*.db
settings.xml.local
data/plugin.video.aftershock/livestreams.json
data/plugin.video.aftershock/tmp
data/plugin.video.aftershock/ditto.json
data/plugin.video.aftershock/dynns.json
data/plugin.video.aftershock/cinefun.json
data/plugin.video.aftershock/static.json
