<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">
		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>
		<setting id="debug" type="bool" label="Debug" default="true"/>
	</category>
	<category label="Scrapers 1">
		<setting label="apnaview" type="lsep"/>
		<setting id="apnaview_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="badtameezdil" type="lsep"/>
		<setting id="badtameezdil_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="bmoviez" type="lsep"/>
		<setting id="bmoviez_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="crazy4ad" type="lsep"/>
		<setting id="crazy4ad_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="desihdmovies" type="lsep"/>
		<setting id="desihdmovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="desihit" type="lsep"/>
		<setting id="desihit_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="desiplex" type="lsep"/>
		<setting id="desiplex_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="desirulez" type="lsep"/>
		<setting id="desirulez_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="desiserials" type="lsep"/>
		<setting id="desiserials_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="desitashan" type="lsep"/>
		<setting id="desitashan_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="ditto" type="lsep"/>
		<setting id="ditto_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="einthusan" type="lsep"/>
		<setting id="einthusan_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="fifastop" type="lsep"/>
		<setting id="fifastop_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="filmywap" type="lsep"/>
		<setting id="filmywap_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="hdbuffer" type="lsep"/>
		<setting id="hdbuffer_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="hindilinks4u" type="lsep"/>
		<setting id="hindilinks4u_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="primewire" type="lsep"/>
		<setting id="primewire_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="putlocker" type="lsep"/>
		<setting id="putlocker_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="rajtamil" type="lsep"/>
		<setting id="rajtamil_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="rlsmovies" type="lsep"/>
		<setting id="rlsmovies_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="tamilgun" type="lsep"/>
		<setting id="tamilgun_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="tamilyogi" type="lsep"/>
		<setting id="tamilyogi_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="watchfree" type="lsep"/>
		<setting id="watchfree_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="world4u" type="lsep"/>
		<setting id="world4u_enabled" type="bool" label="Enabled" default="true"/>
		<setting label="yodesi" type="lsep"/>
		<setting id="yodesi_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>