<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>

   
   <category label="Auto View">
		<setting id="auto-view" type="bool" label="[B]Auto View[/B]" default="true"/>
		<setting id="home-view"	type="enum" label="Main Menu View" values="List|Thumbnail" default="1" enable="!eq(-1,false)"/>
		<setting id="seasons-view" type="number" label="Season View" default="504" enable="!eq(-2,false)" visible="false"/>	
		<setting id="episodes-view" type="number" label="Episode View" default="504" enable="!eq(-3,false)" visible="false"/>
		<setting id="choose-skin" type="bool"  label="[B]Xperience 1080 OFF  | Confluence ON[/B]" default="true" enable="!eq(-4,false)" visible="false"/>
      	<setting id="con-view"	type="enum" label="Confluence View" values="List|Big List|Thumbnail|Posters Wrap|Fanart|Media Info 1|Media Info 2|Media Info 3" default="2" enable="!eq(-1,false)+!eq(-5,false)" visible="false"/>
		<setting id="xpr-view"	type="enum" label="Xperience 1080 View" values="List|Info List|Thumbnail|Posters|Landscape|Banner|Panel" default="3" enable="!eq(-2,true)+!eq(-6,false)" visible="false"/>
   		<setting id="meta-view" type="bool" label="[B]Metadata (Movies)[/B]" default="true" visible="false"/>
		<setting id="meta-view-tv" type="bool" label="[B]Metadata (TV Shows)[/B]" default="false" visible="false"/>
		<setting id="groupfavs" type="bool" label="[B]Group Favorites[/B]" default="false" visible="false"/>
  		<setting id="whistory" type="bool" label="[B]Watch History[/B]" default="true" visible="false" />
        <setting id="movie25-url" type="text" label="[B]Movie25 URL[/B]" default="http://www.movie25.cm/" visible="false"/>	
        <setting id="sominal-url" type="text" label="[B]Sominal URL[/B]" default="http://www.playindiafilms.com/" visible="false"/>	
        <setting id="desirulez-url" type="text" label="[B]DesiRulez URL[/B]" default="http://www.desirulez.net/" visible="false"/>	
        <setting id="sominal-moviesPerPage" type="number" label="[B]Sominal - Movies Per Page[/B]" default="25" visible="false"/>	
        <setting id="hide-download-instructions" type="boolean" default="true" visible="false"/>

   </category>
   
   <category label="Home Layout">
		<setting label="Customize your Home screen" type="lsep" />
		<setting id="homeitems_1_enabled" type="bool" label="[B]Search (Movie25)[/B]" default="false"/>
			<setting id="homeitems_1" type="number" label="     Order" default="10" visible="!eq(-1,false)"/>
		<setting id="homeitems_2_enabled" type="bool" label="[B]Favorites[/B]" default="false"/>
			<setting id="homeitems_2" type="number" label="     Order" default="20" visible="!eq(-1,false)"/>
		<setting id="homeitems_3_enabled" type="bool" label="[B]A-Z (Movie25)[/B]" default="false"/>
			<setting id="homeitems_3" type="number" label="     Order" default="30" visible="!eq(-1,false)"/>
		<setting id="homeitems_4_enabled" type="bool" label="[B]New Releases (Movie25)[/B]" default="false"/>
			<setting id="homeitems_4" type="number" label="     Order" default="40" visible="!eq(-1,false)"/>
		<setting id="homeitems_5_enabled" type="bool" label="[B]Lastest Added (Movie25)[/B]" default="false"/>
			<setting id="homeitems_5" type="number" label="     Order" default="50" visible="!eq(-1,false)"/>
		<setting id="homeitems_6_enabled" type="bool" label="[B]Featured Movies (Movie25)[/B]" default="true"/>
			<setting id="homeitems_6" type="number" label="     Order" default="60" visible="!eq(-1,false)"/>
		<setting id="homeitems_7_enabled" type="bool" label="[B]Most Viewed (Movie25)[/B]" default="false"/>
			<setting id="homeitems_7" type="number" label="     Order" default="70" visible="!eq(-1,false)"/>
		<setting id="homeitems_8_enabled" type="bool" label="[B]Most Voted (Movie25)[/B]" default="false"/>
			<setting id="homeitems_8" type="number" label="     Order" default="80" visible="!eq(-1,false)"/>
		<setting id="homeitems_9_enabled" type="bool" label="[B]HD Releases (Movie25)[/B]" default="true"/>
			<setting id="homeitems_9" type="number" label="     Order" default="90" visible="!eq(-1,false)"/>
		<setting id="homeitems_10_enabled" type="bool" label="[B]Genre (Movie25)[/B]" default="false"/>
			<setting id="homeitems_10" type="number" label="     Order" default="100" visible="!eq(-1,false)"/>
		<setting id="homeitems_11_enabled" type="bool" label="[B]By Year (Movie25)[/B]" default="false"/>
			<setting id="homeitems_11" type="number" label="     Order" default="110" visible="!eq(-1,false)"/>
		<setting id="homeitems_12_enabled" type="bool" label="[B]Watch History[/B]" default="true"/>
			<setting id="homeitems_12" type="number" label="     Order" default="120" visible="!eq(-1,false)"/>
        <setting id="homeitems_13_enabled" type="bool" label="[B]International[/B]" default="true"/>
			<setting id="homeitems_13" type="number" label="     Order" default="130" visible="!eq(-1,false)"/>
        <setting id="homeitems_14_enabled" type="bool" label="[B]Hindi Movies[/B]" default="true"/>
			<setting id="homeitems_14" type="number" label="     Order" default="140" visible="!eq(-1,false)"/>
   </category>
</settings>